// container 2 + slider 2
// понял что сделал лишний контейнер, исправил на стандартный, плюс сделал все в один враппер
.container-2 {
  max-width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-left: 240px;
  padding: 0 20px;
}



// .price {
//   width: 165px;
//   height: 37px;
//   background: linear-gradient(180deg, #41297D 0%, #472D88 100%);
//   border-radius: 18px;
//   border: none;
//   color: #fff;
//   font-size: 14px;
//   font-family: 'Roboto Slab';
//   padding: 9px 15px;
//   display: flex;
//   margin-top: 60px;
//   justify-content: center;
//   align-items: center;
//   margin: 60px auto 132px;
// }

.rocket {
  &-text {
    height: 296px;
    width: 800px;
    font-family: 'Roboto';
    font-size: 18px;
  }

  &-img {
    content: '';
    background-image: url('../images/rocket/123.png');
    background-size: cover;
    height: 600px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &-title {
    &-top {
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: #C0C0C0;
    }

    &-bottom {
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 47px;
      color: #282828;
    }
  }
}


