// setting blocks
.container {
    max-width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .wrapper__inner {
    width: 100%;
  }
  
  .section__inner {
    width: 100%;
  }
  
  // general font
  html {
    font-family: 'Roboto Slab', serif;
  }
  
  // base
  h1 {
    font-family: 'Roboto';
  }
  